* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #d9e4dd;
  color: #d9e4dd;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
  background-color: #555555;
  color: #cdc9c3;
  height: 5vw;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./newDay.webp');
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 25%;
  height: 40vw;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 70vw;
  padding: 1vw 0;
}

h1 {
  font-size: 5rem;
}
a { 
  color:#d9e4dd;
  margin: 0 1vw;
  font-size: 2rem;
  border: 2px solid #d9e4dd;
  border-radius: 5px;
  text-decoration: none;
  padding: 3px 7px
}
.active {
  color: #fbf7f0;
  border: 2px solid #fbf7f0;
  scale: 1.1;
}

.button {
  color: #d9e4dd;
}

#coins {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 2vw auto;
}

.coin-card {
  display: flex;
  flex-direction: column;
  align-items:center;
  border: 5px solid #555555;
  border-radius: 8px;
  padding: 0.5vw;
  width: auto;
}

p {
  font-size: 2rem;
  margin: .5vw;
  color: #555555
}